# Project: Investigate a Dataset - European Soccer Dataset

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [2]:
leagues_df = pd.read_csv('raw_data/leaguesRawData.csv')
leagues_df.head()

      id     name   id:1  country_id                  name:1
0      1  Belgium      1           1  Belgium Jupiler League
1   1729  England   1729        1729  England Premier League
2   4769   France   4769        4769          France Ligue 1
3   7809  Germany   7809        7809   Germany 1. Bundesliga
4  10257    Italy  10257       10257           Italy Serie A

In [3]:
matches_df = pd.read_csv('raw_data/matches_refined.csv')

In [4]:
players_df = pd.read_csv('raw_data/playersRawData.csv')

In [5]:
teams_attr = pd.read_csv('raw_data/teamAttrRawData.csv')

#### Checking structure of leagues_df

In [6]:
leagues_df.head()

      id     name   id:1  country_id                  name:1
0      1  Belgium      1           1  Belgium Jupiler League
1   1729  England   1729        1729  England Premier League
2   4769   France   4769        4769          France Ligue 1
3   7809  Germany   7809        7809   Germany 1. Bundesliga
4  10257    Italy  10257       10257           Italy Serie A

In [7]:
leagues_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          11 non-null     int64
 1   name        11 non-null     object
 2   id:1        11 non-null     int64
 3   country_id  11 non-null     int64
 4   name:1      11 non-null     object
dtypes: int64(3), object(2)
memory usage: 572.0+ bytes

Changes required:
<li>Remove 'id:1' column</li>
<li>Rename 'name:1' to 'Country Name' column</li>

#### Checking structure of matches_df

In [8]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
matches_df.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3

In [9]:
matches_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                25979 non-null  int64
 1   country_id        25979 non-null  int64
 2   league_id         25979 non-null  int64
 3   season            25979 non-null  object
 4   stage             25979 non-null  int64
 5   date              25979 non-null  object
 6   match_api_id      25979 non-null  int64
 7   home_team_api_id  25979 non-null  int64
 8   away_team_api_id  25979 non-null  int64
 9   home_team_goal    25979 non-null  int64
 10  away_team_goal    25979 non-null  int64
dtypes: int64(9), object(2)
memory usage: 2.2+ MB

In [10]:
matches_df.isna().sum()

id                  0
country_id          0
league_id           0
season              0
stage               0
date                0
match_api_id        0
home_team_api_id    0
away_team_api_id    0
home_team_goal      0
away_team_goal      0
dtype: int64

Changes required:
<li>Add a column to signify the winner of the match. team_api_id for winner, 0 for draw</li>

#### Checking structure of players_df

In [11]:
players_df.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id:1,player_fifa_api_id:1,player_api_id:1,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [12]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183978 entries, 0 to 183977
Data columns (total 49 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    183978 non-null  int64
 1   player_api_id         183978 non-null  int64
 2   player_name           183978 non-null  object
 3   player_fifa_api_id    183978 non-null  int64
 4   birthday              183978 non-null  object
 5   height                183978 non-null  float64
 6   weight                183978 non-null  int64
 7   id:1                  183978 non-null  int64
 8   player_fifa_api_id:1  183978 non-null  int64
 9   player_api_id:1       183978 non-null  int64
 10  date                  183978 non-null  object
 11  overall_rating        183142 non-null  float64
 12  potential             183142 non-null  float64
 13  preferred_foot        183142 non-null  object
 14  attacking_work_rate   177109 non-null  object
 15  defensive_work_rate   183142 non-null  object
 16  crossing              183142 non-null  float64
 17  finishing             183142 non-null  float64
 18  heading_accuracy      183142 non-null  float64
 19  short_passing         183142 non-null  float64
 20  volleys               181265 non-null  float64
 21  dribbling             183142 non-null  float64
 22  curve                 181265 non-null  float64
 23  free_kick_accuracy    183142 non-null  float64
 24  long_passing          183142 non-null  float64
 25  ball_control          183142 non-null  float64
 26  acceleration          183142 non-null  float64
 27  sprint_speed          183142 non-null  float64
 28  agility               181265 non-null  float64
 29  reactions             183142 non-null  float64
 30  balance               181265 non-null  float64
 31  shot_power            183142 non-null  float64
 32  jumping               181265 non-null  float64
 33  stamina               183142 non-null  float64
 34  strength              183142 non-null  float64
 35  long_shots            183142 non-null  float64
 36  aggression            183142 non-null  float64
 37  interceptions         183142 non-null  float64
 38  positioning           183142 non-null  float64
 39  vision                181265 non-null  float64
 40  penalties             183142 non-null  float64
 41  marking               183142 non-null  float64
 42  standing_tackle       183142 non-null  float64
 43  sliding_tackle        181265 non-null  float64
 44  gk_diving             183142 non-null  float64
 45  gk_handling           183142 non-null  float64
 46  gk_kicking            183142 non-null  float64
 47  gk_positioning        183142 non-null  float64
 48  gk_reflexes           183142 non-null  float64
dtypes: float64(36), int64(7), object(6)
memory usage: 68.8+ MB

In [13]:
players_df.isna().sum()

id                         0
player_api_id              0
player_name                0
player_fifa_api_id         0
birthday                   0
height                     0
weight                     0
id:1                       0
player_fifa_api_id:1       0
player_api_id:1            0
date                       0
overall_rating           836
potential                836
preferred_foot           836
attacking_work_rate     6869
defensive_work_rate      836
crossing                 836
finishing                836
heading_accuracy         836
short_passing            836
volleys                 2713
dribbling                836
curve                   2713
free_kick_accuracy       836
long_passing             836
ball_control             836
acceleration             836
sprint_speed             836
agility                 2713
reactions                836
balance                 2713
shot_power               836
jumping                 2713
stamina                  836
strength                 836
long_shots               836
aggression               836
interceptions            836
positioning              836
vision                  2713
penalties                836
marking                  836
standing_tackle          836
sliding_tackle          2713
gk_diving                836
gk_handling              836
gk_kicking               836
gk_positioning           836
gk_reflexes              836
dtype: int64

Changes required:
<li>Remove duplicate columns and values</li>
<li>Impute the null values</li>

#### Checking structure of teams_attr

In [14]:
teams_attr.head()

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,buildUpPlayPositioningClass,chanceCreationPassing,chanceCreationPassingClass,chanceCreationCrossing,chanceCreationCrossingClass,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,Organised,60,Normal,65,Normal,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,Organised,54,Normal,63,Normal,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,Organised,54,Normal,63,Normal,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,Organised,70,Risky,70,Lots,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,Organised,53,Normal,48,Normal,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [15]:
teams_attr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              1458 non-null   int64
 1   team_fifa_api_id                1458 non-null   int64
 2   team_api_id                     1458 non-null   int64
 3   date                            1458 non-null   object
 4   buildUpPlaySpeed                1458 non-null   int64
 5   buildUpPlaySpeedClass           1458 non-null   object
 6   buildUpPlayDribbling            489 non-null    float64
 7   buildUpPlayDribblingClass       1458 non-null   object
 8   buildUpPlayPassing              1458 non-null   int64
 9   buildUpPlayPassingClass         1458 non-null   object
 10  buildUpPlayPositioningClass     1458 non-null   object
 11  chanceCreationPassing           1458 non-null   int64
 12  chanceCreationPassingClass      1458 non-null   object
 13  chanceCreationCrossing          1458 non-null   int64
 14  chanceCreationCrossingClass     1458 non-null   object
 15  chanceCreationShooting          1458 non-null   int64
 16  chanceCreationShootingClass     1458 non-null   object
 17  chanceCreationPositioningClass  1458 non-null   object
 18  defencePressure                 1458 non-null   int64
 19  defencePressureClass            1458 non-null   object
 20  defenceAggression               1458 non-null   int64
 21  defenceAggressionClass          1458 non-null   object
 22  defenceTeamWidth                1458 non-null   int64
 23  defenceTeamWidthClass           1458 non-null   object
 24  defenceDefenderLineClass        1458 non-null   object
dtypes: float64(1), int64(11), object(13)
memory usage: 284.9+ KB

In [16]:
teams_attr.isna().sum()

id                                  0
team_fifa_api_id                    0
team_api_id                         0
date                                0
buildUpPlaySpeed                    0
buildUpPlaySpeedClass               0
buildUpPlayDribbling              969
buildUpPlayDribblingClass           0
buildUpPlayPassing                  0
buildUpPlayPassingClass             0
buildUpPlayPositioningClass         0
chanceCreationPassing               0
chanceCreationPassingClass          0
chanceCreationCrossing              0
chanceCreationCrossingClass         0
chanceCreationShooting              0
chanceCreationShootingClass         0
chanceCreationPositioningClass      0
defencePressure                     0
defencePressureClass                0
defenceAggression                   0
defenceAggressionClass              0
defenceTeamWidth                    0
defenceTeamWidthClass               0
defenceDefenderLineClass            0
dtype: int64

Changes required:
<li>Drop 'buildUpPlayDribbling' column as it has more null values than actual data</li>

### Data Cleaning 

#### leagues_df
For leagues_df, we need to drop the duplicate column name 'id:1' and change the name of the 'name:1' column to 'Country'.

In [17]:
leagues_df.drop(['id:1'], axis=1, inplace=True)
leagues_df.head()

      id     name  country_id                  name:1
0      1  Belgium           1  Belgium Jupiler League
1   1729  England        1729  England Premier League
2   4769   France        4769          France Ligue 1
3   7809  Germany        7809   Germany 1. Bundesliga
4  10257    Italy       10257           Italy Serie A

In [18]:
leagues_df.rename(columns={'name:1' : 'Country'}, inplace=True)
leagues_df.head()

      id     name  country_id                 Country
0      1  Belgium           1  Belgium Jupiler League
1   1729  England        1729  England Premier League
2   4769   France        4769          France Ligue 1
3   7809  Germany        7809   Germany 1. Bundesliga
4  10257    Italy       10257           Italy Serie A

#### matches_df
Add a column to signify which team won which match.

In [19]:
outcome_list = list()
for i in range(len(matches_df)):
    if matches_df.iloc[i]['home_team_goal'] > matches_df.iloc[i]['away_team_goal']:
        outcome_list.append(matches_df.iloc[i]['home_team_api_id'])
    elif matches_df.iloc[i]['home_team_goal'] < matches_df.iloc[i]['away_team_goal']:
        outcome_list.append(matches_df.iloc[i]['away_team_api_id'])
    else:
        outcome_list.append(0)

In [20]:
matches_df_refined = matches_df.assign(outcomes = outcome_list)
matches_df_refined.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,outcomes
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,0
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,0
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,8635
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,9991
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,9985

### players_df

For players_df, we need to remove the duplicate columns, and impute the values of the null values.

We will use the column means to impute the values for the respective columns.

Also, dropping the data for players, where overall_Rating is null.

In [21]:
players_df.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id:1,player_fifa_api_id:1,player_api_id:1,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [22]:
## dropping duplicate columns
players_df.drop(['id:1', 'player_fifa_api_id:1', 'player_api_id:1'], axis=1, inplace=True)
players_df.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [23]:
## dropping players data with overall_rating as null
players_df = players_df[players_df['overall_rating'].notna()]
players_df.isna().sum()

id                        0
player_api_id             0
player_name               0
player_fifa_api_id        0
birthday                  0
height                    0
weight                    0
date                      0
overall_rating            0
potential                 0
preferred_foot            0
attacking_work_rate    6033
defensive_work_rate       0
crossing                  0
finishing                 0
heading_accuracy          0
short_passing             0
volleys                1877
dribbling                 0
curve                  1877
free_kick_accuracy        0
long_passing              0
ball_control              0
acceleration              0
sprint_speed              0
agility                1877
reactions                 0
balance                1877
shot_power                0
jumping                1877
stamina                   0
strength                  0
long_shots                0
aggression                0
interceptions             0
positioning               0
vision                 1877
penalties                 0
marking                   0
standing_tackle           0
sliding_tackle         1877
gk_diving                 0
gk_handling               0
gk_kicking                0
gk_positioning            0
gk_reflexes               0
dtype: int64

In [28]:
## imputing null values for numeric columns using their mean
null_numeric_list = ['volleys', 'curve', 'agility', 'balance', 'jumping', 'vision', 'sliding_tackle']

for column in null_numeric_list:
    players_df[column].fillna(players_df[column].mean(), inplace=True)
players_df.isna().sum()

C:\Users\Aayush.Tomar\AppData\Local\Temp\ipykernel_17316\3783275544.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  players_df[column].fillna(players_df[column].mean(), inplace=True)

id                        0
player_api_id             0
player_name               0
player_fifa_api_id        0
birthday                  0
height                    0
weight                    0
date                      0
overall_rating            0
potential                 0
preferred_foot            0
attacking_work_rate    6033
defensive_work_rate       0
crossing                  0
finishing                 0
heading_accuracy          0
short_passing             0
volleys                   0
dribbling                 0
curve                     0
free_kick_accuracy        0
long_passing              0
ball_control              0
acceleration              0
sprint_speed              0
agility                   0
reactions                 0
balance                   0
shot_power                0
jumping                   0
stamina                   0
strength                  0
long_shots                0
aggression                0
interceptions             0
positioning               0
vision                    0
penalties                 0
marking                   0
standing_tackle           0
sliding_tackle            0
gk_diving                 0
gk_handling               0
gk_kicking                0
gk_positioning            0
gk_reflexes               0
dtype: int64

In [ ]:
players_df.attacking_work_rate.unique()

array(['medium', 'high', nan, 'low', 'le', 'norm', 'stoc', 'y'],
      dtype=object)

In [43]:
attacking_work_rate_groups = players_df.loc[:,'attacking_work_rate':]
attacking_work_rate_groups.drop(['defensive_work_rate'], axis=1, inplace=True)
attacking_work_rate_groups.groupby(['attacking_work_rate']).mean()

,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
attacking_work_rate,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
high,64.029774,59.676599,59.874740,67.716624,58.315158,69.402984,62.064965,56.062957,60.501459,70.774911,75.445555,75.589333,73.265535,69.014805,70.300586,69.035121,68.240992,73.411087,66.301403,62.200710,63.019639,51.400532,65.861266,63.790206,60.628541,45.142564,49.479369,47.406744,9.856619,11.215515,15.361838,11.190225,11.135301
le,49.980769,51.548077,53.644231,59.423077,47.972878,54.865385,52.424111,51.413462,54.442308,59.153846,67.423077,67.144231,65.886958,64.586538,61.278143,57.144231,62.896107,64.721154,63.865385,51.403846,57.615385,57.057692,57.884615,63.064541,58.548077,43.009615,45.961538,45.250365,14.384615,24.000000,46.586538,23.971154,24.028846
low,48.363170,38.386626,66.929280,61.333645,40.495857,49.102346,43.861828,43.065118,56.926596,59.851091,59.988797,61.260124,56.692380,64.991714,60.290466,58.367604,68.876532,65.814564,75.335395,45.308437,70.612440,65.407749,45.341814,52.472050,50.726456,64.266659,66.818765,63.770218,9.808963,11.761699,18.128253,11.676392,11.758665
medium,52.664676,47.547805,55.697609,60.854138,47.208579,56.640785,50.657360,47.588870,55.995642,61.295554,65.648429,66.058135,64.252355,65.330215,63.800192,59.760614,66.453818,64.997138,67.278052,51.023275,59.580027,51.046486,53.005837,56.236604,53.279460,46.058959,49.498801,47.150028,16.710578,17.766931,22.059639,17.880779,18.334805
norm,54.675287,50.250000,60.956897,60.864943,48.139430,55.683908,53.071655,51.879310,53.278736,61.818966,66.594828,67.603448,63.868098,62.594828,65.536995,59.379310,64.419656,66.267241,64.790230,52.729885,61.120690,58.163793,59.258621,60.164023,58.977011,49.772989,52.109195,49.454153,9.669540,18.275862,43.284483,18.431034,18.057471
stoc,49.314607,46.921348,53.292135,53.955056,42.015790,50.595506,43.021315,46.842697,56.191011,55.752809,60.966292,61.606742,61.257446,62.977528,65.253579,56.101124,65.639406,63.707865,67.528090,48.134831,63.258427,54.730337,55.089888,57.254165,56.584270,45.561798,45.943820,42.674207,20.921348,26.910112,46.258427,26.359551,27.202247
y,59.358491,49.830189,65.254717,68.330189,51.373785,59.500000,52.562152,56.726415,66.707547,67.113208,65.886792,68.264151,62.902367,72.801887,70.738434,66.613208,70.468194,71.886792,78.028302,57.754717,73.339623,72.433962,70.037736,67.844175,70.754717,58.811321,60.952830,52.556769,19.839623,26.603774,58.669811,26.726415,25.830189

In [44]:
players_df.attacking_work_rate.fillna('medium', inplace=True)
players_df.isna().sum()

C:\Users\Aayush.Tomar\AppData\Local\Temp\ipykernel_17316\1346618920.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  players_df.attacking_work_rate.fillna('medium', inplace=True)

id                     0
player_api_id          0
player_name            0
player_fifa_api_id     0
birthday               0
height                 0
weight                 0
date                   0
overall_rating         0
potential              0
preferred_foot         0
attacking_work_rate    0
defensive_work_rate    0
crossing               0
finishing              0
heading_accuracy       0
short_passing          0
volleys                0
dribbling              0
curve                  0
free_kick_accuracy     0
long_passing           0
ball_control           0
acceleration           0
sprint_speed           0
agility                0
reactions              0
balance                0
shot_power             0
jumping                0
stamina                0
strength               0
long_shots             0
aggression             0
interceptions          0
positioning            0
vision                 0
penalties              0
marking                0
standing_tackle        0
sliding_tackle         0
gk_diving              0
gk_handling            0
gk_kicking             0
gk_positioning         0
gk_reflexes            0
dtype: int64

In [45]:
players_df.defensive_work_rate.unique()

array(['medium', 'high', 'low', '_0', '5', 'ean', 'o', '1', 'ormal', '7',
       '2', '8', '4', 'tocky', '0', '3', '6', '9', 'es'], dtype=object)

### teams_attr

We need to drop the buildUpPlayDribbling column

In [46]:
teams_attr.head()

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,buildUpPlayPositioningClass,chanceCreationPassing,chanceCreationPassingClass,chanceCreationCrossing,chanceCreationCrossingClass,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,Organised,60,Normal,65,Normal,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,Organised,54,Normal,63,Normal,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,Organised,54,Normal,63,Normal,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,Organised,70,Risky,70,Lots,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,Organised,53,Normal,48,Normal,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [47]:
teams_attr.drop(['buildUpPlayDribbling'], axis=1, inplace=True)
teams_attr.isna().sum()

id                                0
team_fifa_api_id                  0
team_api_id                       0
date                              0
buildUpPlaySpeed                  0
buildUpPlaySpeedClass             0
buildUpPlayDribblingClass         0
buildUpPlayPassing                0
buildUpPlayPassingClass           0
buildUpPlayPositioningClass       0
chanceCreationPassing             0
chanceCreationPassingClass        0
chanceCreationCrossing            0
chanceCreationCrossingClass       0
chanceCreationShooting            0
chanceCreationShootingClass       0
chanceCreationPositioningClass    0
defencePressure                   0
defencePressureClass              0
defenceAggression                 0
defenceAggressionClass            0
defenceTeamWidth                  0
defenceTeamWidthClass             0
defenceDefenderLineClass          0
dtype: int64

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

Goals based on attacking style
Goals conceded based on defensive style
Game wins based on playing style

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!